
body{
    margin:auto;
    
}
.main{
    margin:0;
       border: 2px solid rgb(61, 131, 211);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    background-image: url(./images/bg3.jpg);
    
    
}

.dp{
    height: 250px;
    width : 250px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 300px;
    
    border: 5px solid rgba(255, 255, 255, 0.68);
    
    
}
.myinfo{
    margin-top:100px;
    float :right;
    margin-right: 400px;
}
.myinfo h1{
    font-style: italic;
    font-size: 2.5em;
    line-height: 0.1;
    color: #fff;
}
.myinfo h3{
    line-height: 0.001;
    margin-left: 70px;
    color:#fff;
}
  /*--About me section starts--*/ 
.summary{
    
    margin: 0;
    height:100px !important;
    width:100%;
    line-height: 1;
    background-color: darkolivegreen;
   
}
.summary h2{
    margin-left: 50px;
}

.summary p{
    
    line-height: 1;
    margin-left: 50px;
    font-style: italic;
    font-size: 20;

} 
/*--nav bar starts--*/
.menu{
    border: 2px solid skyblue;
    background-color: skyblue;
    margin: 0;
}
.menu h2{
    display: inline-block;
    margin-left: 150px;
}
/*--skills section starts--*/
.skills{
    margin:0;
    border: 2px solid burlywood ;
    background-color: burlywood;
    height:300px;
    width:100%;
    display: inline-block;
}
.skills h2{
    margin-left: 50px;
}
.section1{
    
    margin-left: 150px;
}
.icongap{
    margin-right: 50px;
}


/*--skills section ends--*/

/*--education section starts--*/
.Education{
    margin:0;
    border: 2px solid rgb(180, 223, 81) ;
    background-color: rgb(180, 223, 81);
    height:300px;
    width:100%;
   
}
.Education h2{
   
    margin-left: 50px;
}
.edu{
    
    margin-left: 150px;
}
/*--education section ends--*/
/*--contact section starts--*/
.contact{
    border:2px solid #c5dbdf;
    background-color:#c5dbdf;
}
.contact h2{
    margin-left: 50px;
}
.contact address{
    margin-left: 150px;
}
/*--contact section ends--*/
/*--footer section starts--*/
.footer {
    border: 2px solid #ccc;
    background-image: url(./images/bg3.jpg);
    text-align: center;
    line: height 1px;
}
/*--footer section ends--*/